.good-container{
    border-radius: 7px;
    overflow-x: hidden;
    width: 350px;
    height: 360px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
    margin: 15px;
  }
  .good-container>table{
    margin-top: 15px;
    text-align: center;
    width: 320px;
    margin-left: 10px;
    border-collapse: collapse;
  }
  .good-container>table>tbody>tr{
    border: 1px solid white ;
  }
  .good-container>table>tbody>tr>td{
    border: 5px solid white ;
  }
  .good-container>img{
    display:block;
    max-height: 200px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
  }
  .good-carousel{
    display: block;
  }
  .embla {
    position: relative;
    background-color: white;
    padding: 15px;
    max-width: 670px;
    margin: 10px;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
    background-color: white;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .embla__slide {
    position: relative;
    min-width: 350px;
  }
  
